<html>
	<head>
		<title>Proto Jeff</title>
	</head>
	<body>
		<h1>Alta/Modificacion de  Mozo!</h1>
		<table>
			Nombre Mozo:<br>
			<input type="text" value="Nombre"> <br>
			Apellido Mozo:<br>
			<input type="text" value="Apellido"><br>
			Horario de trabajo:<br>
			<input type="number" value="Horario"><br><br>
			<input type="button" value="Volver atras" onclick="window.location='admmozos';">
			<input type="button" value="Alta" onclick="alert('Alta de nuevo mozo.')">
		</table>
	</body>
</html>
