<h1>Proto Jeff</h1>
<p>Bienvenido al prototipo de nuestro sitio web.</p>
<br>
<a href='admpedidos'>Administración de pedidos
<br>
<a href='facturacion'>Facturación
<br>
<a href='stock'>Stock
<br>
<a href='../internet/index'>Volver a página de inicio