<html>
 <head>
  <title>Proto Jeff</title>
 </head>
 <body>
  <h1> Llamadas </h1>
    <table>
      <tr>
       <td>Mesa quién llama</td>
       <td>Mozo quién atiende (Apellido)</td> 
       <td>Enviar mozo</td>
      </tr>
      <tr>
       <td>15</td>
       <td><input type="text"></td> 
       <td><input type="submit" onclick="alert('Mozo enviado')"value="Enviar mozo"></td>
      </tr>
      <tr>
       <td>3</td>
       <td><input type="text"></td> 
       <td><input type="submit" onclick="alert('Mozo enviado')"value="Enviar mozo"></td>
      </tr>
    </table>

    <input type="button" value="Volver atrás" onclick="window.location='index';">


 </body>
</html>