<html>
	<head>
		<title>Proto Jeff</title>
	</head>
	<body>
		<table style="float:left">
			<div>
				<select>
					<option value="volvo">Pizzas</option>
					<option value="saab">Pastas</option>
					<option value="mercedes">Ensaladas</option>
					<option value="audi">Postres</option>
					<option value="audi">Bebidas</option>
				</select>
			
			</div>
		</table>
		<table  style="float:none">
			<div>
			<tr>
				<td>Mozzarella</td>
				<td>8 porciones</td>		
				<td>$ 150</td>
				<td><input type="checkbox"></td>
			</tr>
			<tr>
				<td>Americana</td>
				<td>8 porciones</td>		
				<td>$ 194</td>
				<td><input type="checkbox"></td>
			</tr>
			<tr>
				<td>Especial Ave</td>
				<td>8 porciones</td>		
				<td>$ 180</td>
				<td><input type="checkbox"></td>
			</tr>
			</div>
		</table>
		<table style="float:right">
			<h2>Ingrese la carga de nuevos stocks del seleccionado</h2>
			<input type="number">
			<br><br>
			<input type="submit" value="Volver atrás" onclick="window.location='index';">
			<input type="submit" value="Confirmar" onclick="alert('Stock actualizado')">
		</table>
	</body>

</html>
