 <!-- Inscrustacion de barra de Navegacion extendible -->
<p>Bienvenido al prototipo de nuestro sitio web.</p>
<h2>Acceder al menú clickeando en la imagen:</h2>
<a href="/internet/menu"><img src="/index.jpg" height="200" width="300">
<br>
<a href='../intranet/index'>Intranet</a>
<br>
<a href='../extranet/index'>Extranet</a>
<br>
<hr>
<a href="../internet/registro">Registrarse</a>
<br>
<a href="../internet/ingresar">Ingresar</a>
