<h1>Proto Jeef</h1>
<p>Bienvenido al prototipo de nuestro sitio web.</p>
<h3>Acceder al menú:</h3>
<a href=''>Menú
<br>
<a href='../extranet/pedidos'>Pedidos
<br>
<a href='../intranet/admpedidos'>Administración de pedidos
<br>
<a href='../intranet/stock'>Stock
<!--stock-menu-reservas-->