<h1>Proto Jeff</h1>
<p>Bienvenido al prototipo de nuestro sitio web.</p>
<a href="/internet/menu"><h2>Acceder al menú</h2>
<a href='../intranet/index'>Intranet
<br>
<a href='../extranet/index'>Extranet
<br>
<hr>
<a href='registro'>Registrarse
<br>
<a href='ingresar'>Ingresar