<h1>Proto Jeff</h1>
<p>Bienvenido al prototipo de nuestro sitio web.</p>
<h2>Acceder al menú clickeando en la imagen:</h2>
<a href="/internet/menu"><img src="/index.jpg" height="200" width="300">
<br>
<a href='../intranet/index'>Intranet
<br>
<a href='../extranet/index'>Extranet
<br>
<hr>
<a href='registro'>Registrarse
<br>
<a href="ingresar">Ingresar