<!DOCTYPE html>
<html>
	<head>
		<title>Proto Jeff</title>
		<script type="text/javascript" src="funciones.js" ></script>
	</head>
	<body>
		<div>
			<form method="post">
				<h1>Ingresar</h1>
				Usuario:<br>
				<input type="text" name="nombre" required>
				<br>
				Contraseña:<br>
				<input type="text" name="apellido" required>
				<br>
			    <br>
			    <input type="button" value="Volver atrás" onclick="window.location='index';">
				<input type="button" value="Confirmar" onclick="window.location='index';">
			</form>
		</div>
		<br>
		<br>		
	</body>
</html>
