<!DOCTYPE html>
<html>
	<head>
		<title>Proto Jeff</title>
	</head>
	<body>
		<div>
			<form>
				<h1>Registrarse</h1>
				Usuario:<br>
				<input type="text" name="nombre">
				<br>
				Contraseña:<br>
				<input type="text" name="apellido">
				<br>
				Confirmar contraseña:<br>
				<input type="text" name="cantidad">
			    <br>
			    <br>
			    <input type="button" value="Volver atrás" onclick="window.location='index';">		
				<input type="submit" value="Confirmar">
			</form>
		</div>
		<br>
		<br>
	</body>
</html>
