<!DOCTYPE html>
<head>
	<title>Atención personalizada</title>
</head>
<form>
	Número de mesa:<br>
	<input type="number" name="mesa">
	<br>
	<br>
    <input type="submit" value="Volver atrás">
	<input type="submit" value="Pedir mozo!!">
</form>