<!DOCTYPE html>
<head>
	<title>Atención personalizada</title>
	<script type="text/javascript" src="funciones.js" ></script>
</head>
<form method="post">
	Número de mesa:<br>
	<input type="number" required>
	<br>
	<br>
    <input type="button" value="Volver atrás" onclick="window.location='index';">
	<input type="submit" value="Pedir mozo!!">
</form>
