<!DOCTYPE html>
<head>
	<title>Atención personalizada</title>
</head>
<form>
	Número de mesa:<br>
	<input type="number">
	<br>
	<br>
    <input type="button" value="Volver atrás" onclick="window.location='index';">
	<input type="submit" value="Pedir mozo!!">
</form>