<h1>Proto Jeff</h1>
<p>Bienvenido a la extranet de nuestro sitio.</p>
<h3>Links</h3>
<a href='pedidos'>Pedidos
<br>
<a href='delivery'>Delivery
<br>
<a href='atencionpers'>Atención personalizada
<br>
<a href='../internet/index'>Volver a página de inicio