<body>
	<form>
		Nombre: Montoto<br>
		<br>
		Apellido: Flores<br>
		<br>
		Cantidad de personas (1 a 30):<br>
		<input type="number" name="cantidad">
	    <br>
	    <br>
	    <input type="submit" value="Volver atrás">
		<input type="submit" value="Confirmar">
	</form>
</body>