<body>
	<form>
		Nombre: Montoto<br>
		<br>
		Apellido: Flores<br>
		<br>
		Cantidad de personas (1 a 30):<br>
		<input type="number">
	    <br>
	    <br>
	    <input type="button" value="Volver atrás" onclick="window.location='index';">
		<input type="submit" value="Confirmar">
	</form>
</body>