<html>
	<head>
		<title>ProtoJeff</title>
	</head>
	<body>
		<form>
			Nombre:<br>
			<input type="text" name="nombre">
			<br>
			Apellido:<br>
			<input type="text" name="apellido">
			<br>
			Cantidad de personas (1 a 30):<br>
			<input type="number" name="cantidad">
		    <br>
		    <br>
			<input type="submit" value="Confirmar">
		</form>
	</body>

</html>
