<html>
 <head>
  <title>Proto Jeff</title>
 </head>
 <body>
  <table>
   <h1> Reserve una mesa para sus amigos o familiares! </h1>
   Día a reservar: <br>
   <input type="date"> <br>
   Cantidad de personas a reservar: <br>
   <input type="number" name="personas"> <br>
   <input type="submit" onclick="alert('Su reserva fue almacenada.')"value="Confirmar">
    <input type="button" value="Volver atrás" onclick="window.location='index';">
  </table>
 </body>
</html>
