<html>
	<head>
		<title>Proto Jeff</title>
	</head>
	<body>
		<form style="float:left">
			<h1>Registrar</h1>
			Usuario:<br>
			<input type="text" name="nombre">
			<br>
			Contrase&ntilde;a:<br>
			<input type="text" name="apellido">
			<br>
			Confirmar contrase&ntilde;a:<br>
			<input type="text" name="cantidad">
		    <br>
		    <br>
			<input type="submit" value="Confirmar">
		</form>
		<form style="float:none">
			<h1>Ingresar</h1>
			Usuario:<br>
			<input type="text" name="nombre">
			<br>
			Contrase&ntilde;a:<br>
			<input type="text" name="apellido">
			<br>
		    <br>
			<input type="submit" value="Confirmar">
		</form>
	</body>
</html>
